html,body{
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
    background-color: black;
}

body {

  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

canvas {
  touch-action: none;
}

